[Unit]
Description=Auto-connect Bluetooth microphone
After=bluetooth.target
Requires=bluetooth.service

[Service]
Type=simple
User=developer
Group=developer
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus
ExecStart=/usr/bin/bash /home/developer/javis_ws/auto_connect_bt.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
