[Unit]
Description=Run Javis on startup
After=network.target

[Service]
Type=oneshot
User=developer
WorkingDirectory=/home/developer

Environment=HOME=/home/developer
Environment=USER=developer
Environment=PATH=/home/developer/.local/bin:/usr/local/bin:/usr/bin:/bin

ExecStart=/usr/bin/bash -c "tmuxp load -d /home/developer/javis_ws/operations/javis_deploy/tmux/pino.yaml"

RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
