[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=bash -c '(source ~/.javis/auto/javis_redirect.bash && javis launch --stop) || (echo "Stop Failed :(" && sleep 10)'
Name=JAVIS Stop
Comment=Stop the javis launch currently running
Name[en]=JAVIS Stop
Comment[en]=Stop the javis launch currently running
Icon=javis-icon.png
