version: '2.3'
services:
  javis_common:
    image: javis/${JAVIS_ARCH_T}.ros.${JAVIS_ROS_DISTRO}:${DOCKER_IMAGE_VERSION}
    build:
      context: ${JAVIS_DOCKER_PATH}/javis/
      dockerfile: ${JAVIS_DOCKER_PATH}/javis/services/${JAVIS_ROS_DISTRO}.dockerfile
      args:
        - ARCH_T=$JAVIS_ARCH_T
        - JAVIS_ROS_DISTRO=$JAVIS_ROS_DISTRO
        - DOCKER_IMAGE_VERSION=$DOCKER_IMAGE_VERSION
        - user_id=$JAVIS_USERID
        - group_id=$JAVIS_GROUPID
    container_name: javis_common
    privileged: true
    runtime: nvidia
    environment:
      - DISPLAY
      - QT_X11_NO_MITSHM=1
      - ROS_MASTER_IP=$JAVIS_HOSTNAME
      - ROS_HOSTNAME=$JAVIS_HOSTNAME
      - JAVIS_USERID=$JAVIS_USERID
      - JAVIS_GROUPID=$JAVIS_GROUPID
    volumes:
      - ${JAVIS_PATH}:/home/developer/javis_ws/
      - ${HOME}/model_data:/home/developer/model_data
      - /tmp/.X11-unix:/tmp/.X11-unix
      - /etc/localtime:/etc/localtime:ro
      - /dev/input:/dev/input
      - /usr/lib/aarch64-linux-gnu/tegra:/usr/lib/aarch64-linux-gnu/tegra
    devices:
      - /dev/nvhost-gpu:/dev/nvhost-gpu
      - /dev/nvhost-ctrl:/dev/nvhost-ctrl
      - /dev/nvhost-ctrl-gpu:/dev/nvhost-ctrl-gpu
      - /dev/nvhost-prof-gpu:/dev/nvhost-prof-gpu
      - /dev/nvhost-ctxsw-gpu:/dev/nvhost-ctxsw-gpu
      - /dev/nvhost-dbg-gpu:/dev/nvhost-dbg-gpu
      - /dev/nvhost-nvsched-gpu:/dev/nvhost-nvsched-gpu
      - /dev/nvmap:/dev/nvmap
      - /dev/nvidia0:/dev/nvidia0
      - /dev/nvidiactl:/dev/nvidiactl
      - /dev/nvidia-modeset:/dev/nvidia-modeset
      - /dev/video0:/dev/video0
      - /dev/video1:/dev/video1
    group_add:
      - video
    network_mode: host
    tty: true

  javis_whisper:
    image: javis/${JAVIS_ARCH_T}.whisper:${DOCKER_IMAGE_VERSION}
    build:
      context: ${JAVIS_DOCKER_PATH}/javis/
      dockerfile: ${JAVIS_DOCKER_PATH}/javis/services/whisper.dockerfile
      args:
        - ARCH_T=$JAVIS_ARCH_T
        - JAVIS_ROS_DISTRO=$JAVIS_ROS_DISTRO
        - DOCKER_IMAGE_VERSION=$DOCKER_IMAGE_VERSION
        - user_id=$JAVIS_USERID
        - group_id=$JAVIS_GROUPID
    container_name: javis_whisper
    privileged: true
    runtime: nvidia
    environment:
      - DISPLAY
      - QT_X11_NO_MITSHM=1
      - ROS_MASTER_IP=$JAVIS_HOSTNAME
      - ROS_HOSTNAME=$JAVIS_HOSTNAME
      - JAVIS_USERID=$JAVIS_USERID
      - JAVIS_GROUPID=$JAVIS_GROUPID
    volumes:
      - ${JAVIS_PATH}:/home/developer/javis_ws/
      - ${HOME}/model_data:/home/developer/model_data
      - /tmp/.X11-unix:/tmp/.X11-unix
      - /etc/localtime:/etc/localtime:ro
      - /dev/input:/dev/input
      - /usr/lib/aarch64-linux-gnu/tegra:/usr/lib/aarch64-linux-gnu/tegra
    devices:
      - /dev/nvhost-gpu:/dev/nvhost-gpu
      - /dev/nvhost-ctrl:/dev/nvhost-ctrl
      - /dev/nvhost-ctrl-gpu:/dev/nvhost-ctrl-gpu
      - /dev/nvhost-prof-gpu:/dev/nvhost-prof-gpu
      - /dev/nvhost-ctxsw-gpu:/dev/nvhost-ctxsw-gpu
      - /dev/nvhost-dbg-gpu:/dev/nvhost-dbg-gpu
      - /dev/nvhost-nvsched-gpu:/dev/nvhost-nvsched-gpu
      - /dev/nvmap:/dev/nvmap
      - /dev/nvidia0:/dev/nvidia0
      - /dev/nvidiactl:/dev/nvidiactl
      - /dev/nvidia-modeset:/dev/nvidia-modeset
      - /dev/video0:/dev/video0
      - /dev/video1:/dev/video1
    group_add:
      - video
    network_mode: host
    tty: true

  javis_llm:
    image: javis/${JAVIS_ARCH_T}.llm:${DOCKER_IMAGE_VERSION}
    stdin_open: true
    tty: true
    build:
      context: ${JAVIS_DOCKER_PATH}/javis/
      dockerfile: ${JAVIS_DOCKER_PATH}/javis/services/llm.dockerfile
      args:
        - ARCH_T=$JAVIS_ARCH_T
        - JAVIS_ROS_DISTRO=$JAVIS_ROS_DISTRO
        - DOCKER_IMAGE_VERSION=$DOCKER_IMAGE_VERSION
        - user_id=$JAVIS_USERID
        - group_id=$JAVIS_GROUPID

    container_name: javis_llm
    privileged: true
    runtime: nvidia
    environment:
      - DISPLAY
      - QT_X11_NO_MITSHM=1
      - JAVIS_USERID=$JAVIS_USERID
      - JAVIS_GROUPID=$JAVIS_GROUPID
      - HF_HUB_CACHE=/home/developer/model_data/huggingface
      - HF_HOME=/home/developer/model_data/huggingface
    volumes:
      - ${JAVIS_PATH}:/home/developer/javis_ws/
      - ${HOME}/model_data:/home/developer/model_data
      - /tmp/.X11-unix:/tmp/.X11-unix
      - /etc/localtime:/etc/localtime:ro
      - /dev/input:/dev/input
      - /usr/lib/aarch64-linux-gnu/tegra:/usr/lib/aarch64-linux-gnu/tegra
      - ${HOME}/model_data/cache:/root/.cache
    devices:
      - /dev/nvhost-gpu:/dev/nvhost-gpu
      - /dev/nvhost-ctrl:/dev/nvhost-ctrl
      - /dev/nvhost-ctrl-gpu:/dev/nvhost-ctrl-gpu
      - /dev/nvhost-prof-gpu:/dev/nvhost-prof-gpu
      - /dev/nvhost-ctxsw-gpu:/dev/nvhost-ctxsw-gpu
      - /dev/nvhost-dbg-gpu:/dev/nvhost-dbg-gpu
      - /dev/nvhost-nvsched-gpu:/dev/nvhost-nvsched-gpu
      - /dev/nvmap:/dev/nvmap
      - /dev/nvidia0:/dev/nvidia0
      - /dev/nvidiactl:/dev/nvidiactl
      - /dev/nvidia-modeset:/dev/nvidia-modeset
      - /dev/video0:/dev/video0
      - /dev/video1:/dev/video1
    group_add:
      - video
    network_mode: host
    tty: true

  javis_llava:
    image: javis/${JAVIS_ARCH_T}.llava:${DOCKER_IMAGE_VERSION}
    stdin_open: true
    tty: true
    build:
      context: ${JAVIS_DOCKER_PATH}/javis/
      dockerfile: ${JAVIS_DOCKER_PATH}/javis/services/llava.dockerfile
      args:
        - ARCH_T=$JAVIS_ARCH_T
        - JAVIS_ROS_DISTRO=$JAVIS_ROS_DISTRO
        - DOCKER_IMAGE_VERSION=$DOCKER_IMAGE_VERSION
        - user_id=$JAVIS_USERID
        - group_id=$JAVIS_GROUPID
    container_name: javis_llava
    privileged: true
    runtime: nvidia
    environment:
      - DISPLAY
      - QT_X11_NO_MITSHM=1
      - JAVIS_USERID=$JAVIS_USERID
      - JAVIS_GROUPID=$JAVIS_GROUPID
      - HF_HUB_CACHE=/home/developer/model_data/huggingface
      - HF_HOME=/home/developer/model_data/huggingface
    volumes:
      - ${JAVIS_PATH}:/home/developer/javis_ws/
      - ${HOME}/model_data:/home/developer/model_data
      - /tmp/.X11-unix:/tmp/.X11-unix
      - /etc/localtime:/etc/localtime:ro
      - /dev/input:/dev/input
      - /usr/lib/aarch64-linux-gnu/tegra:/usr/lib/aarch64-linux-gnu/tegra
      - ${HOME}/model_data/cache:/root/.cache
    devices:
      - /dev/nvhost-gpu:/dev/nvhost-gpu
      - /dev/nvhost-ctrl:/dev/nvhost-ctrl
      - /dev/nvhost-ctrl-gpu:/dev/nvhost-ctrl-gpu
      - /dev/nvhost-prof-gpu:/dev/nvhost-prof-gpu
      - /dev/nvhost-ctxsw-gpu:/dev/nvhost-ctxsw-gpu
      - /dev/nvhost-dbg-gpu:/dev/nvhost-dbg-gpu
      - /dev/nvhost-nvsched-gpu:/dev/nvhost-nvsched-gpu
      - /dev/nvmap:/dev/nvmap
      - /dev/nvidia0:/dev/nvidia0
      - /dev/nvidiactl:/dev/nvidiactl
      - /dev/nvidia-modeset:/dev/nvidia-modeset
      - /dev/video0:/dev/video0
      - /dev/video1:/dev/video1
    group_add:
      - video
    network_mode: host
    tty: true

  javis_gemma:
    image: javis/${JAVIS_ARCH_T}.gemma:${DOCKER_IMAGE_VERSION}
    stdin_open: true
    tty: true
    build:
      context: ${JAVIS_DOCKER_PATH}/javis/
      dockerfile: ${JAVIS_DOCKER_PATH}/javis/services/gemma.dockerfile
      args:
        - ARCH_T=$JAVIS_ARCH_T
        - JAVIS_ROS_DISTRO=$JAVIS_ROS_DISTRO
        - DOCKER_IMAGE_VERSION=$DOCKER_IMAGE_VERSION
        - user_id=$JAVIS_USERID
        - group_id=$JAVIS_GROUPID
    container_name: javis_gemma
    privileged: true
    runtime: nvidia
    environment:
      - DISPLAY
      - QT_X11_NO_MITSHM=1
      - JAVIS_USERID=$JAVIS_USERID
      - JAVIS_GROUPID=$JAVIS_GROUPID
      - OLLAMA_MODELS=/home/developer/model_data/ollama
      - OLLAMA_HOST=0.0.0.0:9000
      - OLLAMA_CONTEXT_LEN=4096
      - OLLAMA_LOGS=/home/developer/model_data/ollama.log
      - HF_TOKEN=${HF_TOKEN}
      - HF_HUB_CACHE=/home/developer/model_data/huggingface
      - HF_HOME=/home/developer/model_data/huggingface
    volumes:
      - ${JAVIS_PATH}:/home/developer/javis_ws/
      - ${HOME}/model_data:/home/developer/model_data
      - /tmp/.X11-unix:/tmp/.X11-unix
      - /etc/localtime:/etc/localtime:ro
      - /dev/input:/dev/input
      - /usr/lib/aarch64-linux-gnu/tegra:/usr/lib/aarch64-linux-gnu/tegra
      - ${HOME}/model_data/cache:/root/.cache
    devices:
      - /dev/nvhost-gpu:/dev/nvhost-gpu
      - /dev/nvhost-ctrl:/dev/nvhost-ctrl
      - /dev/nvhost-ctrl-gpu:/dev/nvhost-ctrl-gpu
      - /dev/nvhost-prof-gpu:/dev/nvhost-prof-gpu
      - /dev/nvhost-ctxsw-gpu:/dev/nvhost-ctxsw-gpu
      - /dev/nvhost-dbg-gpu:/dev/nvhost-dbg-gpu
      - /dev/nvhost-nvsched-gpu:/dev/nvhost-nvsched-gpu
      - /dev/nvmap:/dev/nvmap
      - /dev/nvidia0:/dev/nvidia0
      - /dev/nvidiactl:/dev/nvidiactl
      - /dev/nvidia-modeset:/dev/nvidia-modeset
      - /dev/video0:/dev/video0
      - /dev/video1:/dev/video1
    group_add:
      - video
    network_mode: host
    tty: true